.build/
binary/
build/
cache/
chroot/
local/
output/
logs/
source/
config/binary
config/bootstrap
config/chroot
config/common
config/source
*.iso
*.img
*.qcow2
*.raw
*.log
*.contents
*.files
*.packages
*.packages.install
*.packages.live
binary.modified_timestamps
chroot.files
.DS_Store
.lock

